@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  font-family: 'Nanum Gothic', sans-serif;
}

.subLogo {
  height: 10vh;
  background-image: url("./logo.png");
  background-position: center;
  background-repeat : no-repeat;
  background-size: 35%;
}